<div class="m-4">
  <h1 class="mb-20 text-4xl font-bold">後台系統</h1>
  <span class="text-xl font-bold">Post:<%= @users.count %> / <%= User.count %></span>
  <form class="m-4">
    <input type="" class="px-2 py-2 text-xs border-2 w-60" name="keyword" value="<%= params[:keyword] %>" placeholder="可查詢姓名、電話、信箱...">
    <input type="submit" class="px-4 py-2 text-xs text-white bg-blue-600 rounded-md shadow-sm cursor-pointer " value="查詢">
  </form>
  <section>
    <div style='border-bottom: 2px solid #eaeaea'>
      <ul class='flex cursor-pointer'>
          <li class='px-6 py-2 bg-white rounded-t-lg'>用戶資料</li>
          <li class='px-6 py-2 text-gray-500 bg-white bg-gray-200 rounded-t-lg'>餐廳</li>
          <li class='px-6 py-2 text-gray-500 bg-white bg-gray-200 rounded-t-lg'>景點</li>
          <li class='px-6 py-2 text-gray-500 bg-white bg-gray-200 rounded-t-lg'>住宿</li>
      </ul>
    </div>
    <div>
        <table class="w-full text-sm text-left text-gray-500 bg-white border-collapse">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">No.</th>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">用戶名</th>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">聯絡電話</th>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">電子信箱</th>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">會員等級</th>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">會員週期</th>
                    <th scope="col" class="px-6 py-4 font-medium text-center text-gray-900">訂單資訊</th>
                </tr>
            </thead>
            <tbody class="border-t border-gray-100 divide-y divide-gray-100">
              <% @users.each do |user|%>
                <tr class="hover:bg-gray-50">                
                  <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900"><%= user.id %></th>
                  <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900"><%= user.name %></th>
                  <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900"><%= user.tel %></th>
                  <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900"><%= user.email %></th>
                  <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900"><%= user.diamond_grade %></th>
                  <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900">
                    <% if user.diamond_grade != '一般會員' %>
                      <%= format_date(Order.where(user_id: user.id).last.pay_time)%>-<%= format_date(Order.where(user_id: user.id).last.pay_time + 1.month)%>
                    <% end %>
                  </th>
                  <% if Order.where(user_id: user.id) != [] %>
                    <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900">
                      <%= link_to '詳細資料', order_path(user.id), class: "border-b-2 text-blue-800"%>
                    </th>
                  <% else %>
                    <th class="gap-3 px-6 py-4 font-normal text-center text-gray-900">無訂單資料</th>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
    <br>
    <div class="flex justify-center"><%= raw pagy_nav(@pagy) %></div>
  </section>
</div>