<section class="flex items-center justify-center w-full h-screen">
  <%= turbo_frame_tag "edit_profile" do %>
    <div class="relative flex items-center justify-center bg-white rounded-lg shadow-lg form-box w-400 h-450 shadow-gary-500/50">
      <div class="form-value">
          <div class="m-8 field ">
            <%= image_tag("logo.png", class: "w-10 h-10 mb-2") %>
            <span class="my-8 text-xl font-bold text-center">
              <span class="text-red-600 tracking-zero">修改</span>
              您在
              <span class=" text-amber-500 tracking-zero">Tour</span>
              <span class=" text-sky-500 tracking-zero">Mind</span>
              的會員資料
            </span>
          </div>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { controller: :turboform}) do |f| %>
            <div class="ffield flex justify-center items-center">
              <div class="avatar-container">
                <%= f.hidden_field :avatar %>
                <% if current_user.avatar.blank? %>
                  <%= image_tag("user_default_avatar.png", class: "rounded-full w-20 h-20") %>
                <% else %>
                  <%= image_tag(current_user.avatar.url, class: "rounded-full w-20 h-20") %>
                <% end %>
                <label for="avatar_upload" class="camera-overlay">
                  <div class="camera-icon">
                    <i class="fa-solid fa-camera fa-2xl"></i>
                  </div>
                </label>
                <%= f.file_field :avatar, accept: "image/*", id: "avatar_upload", class: "sr-only" %>
              </div>
            </div>
            <div class="relative m-2 field">
              <%= f.select :city, User.city_list, {}, class: "w-full text-black bg-white rounded-lg" %>
            </div>
            <div class="relative m-2 field">
              <%= f.text_field :name, autocomplete: true, autocomplete: "name", placeholder: "請輸入暱稱...", class: "rounded-lg text-black w-full" %>
            </div>
            <div class="relative m-2 field">
              <%= f.telephone_field :tel, autocomplete: true, autocomplete: "tel", placeholder: "請輸入電話號碼...", class: "rounded-lg text-black w-full" %>
            </div>
            <div class="m-2 field">
              <% if current_user.email == "" %>
                <div class="relative field">
                  <%= image_tag "email.png", class: "h-10 w-10 inline-block absolute right-0 z-2"%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請輸入Line信箱帳號...", class: "rounded-lg w-full inline-block"%>
                </div>
              <% else %>
                <div class="w-full p-2 text-gray-400 bg-gray-200 border-2 rounded-lg border-bsolid border-block"><%= current_user.email %></div>
              <% end %>
            </div>
            
            <div class="m-2 actions field">
              <%= f.submit "確定更新", class: "btn-square btn-green " %>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>
</section>