<section class="flex items-center justify-center w-full h-screen">
  <%= turbo_frame_tag "signup" do %>
    <div class="relative flex items-center justify-center bg-white rounded-lg form-box w-400 h-450 shadow-gary-500/50">
      <div class="form-value">
          <div class="m-8 field ">
            <%= image_tag("logo.png", class: "w-10 h-10 mb-2") %>
            <span class="my-8 text-xl font-bold text-center">
              我要註冊
              <span class="align-middle text-amber-500 cloitems-center inlink-block tracking-zero">Tour</span>
              <span class="items-center align-middle inlink-block text-sky-500 tracking-zero">Mind</span>
              的會員！
            </span>
          </div>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { controller: :turboform}) do |f| %>
            <div class="relative m-2 field">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "請輸入您的暱稱...", class: "rounded-lg w-full inline-block"%>
            </div>
            <hr>
            <div class="relative m-2 field">
              <%= image_tag "email.png", class: "h-10 w-10 inline-block absolute right-0 z-2"%>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請輸入信箱帳號...", class: "rounded-lg w-full inline-block"%>
            </div>
            <div class="relative m-2 field">
              <%= image_tag "password.png", class: "h-10 w-10 inline-block absolute right-0 z-2" %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "請輸入密碼...(最少6個字)", class: "rounded-lg text-black w-full" %>
            </div>
            <div class="relative m-2 field">
              <%= image_tag "password.png", class: "h-10 w-10 inline-block absolute right-0 z-2" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再次確認密碼...", class: "rounded-lg text-black w-full" %>
            </div>
            
            <div class="m-2 field">
              <%= f.submit "確定註冊", class: "btn-square btn-green " %>
            </div>
            <div class="m-2 field">
              <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "我要註冊", new_registration_path(resource_name),class: "btn-square btn-green" %>
              <% end %>
            </div>
          <% end %>
          <div class="m-2 field">
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= form_for "log in",
                  url: omniauth_authorize_path(resource_name, provider),
                  method: :post,
                  data: {turbo: "false"} do |f|%>
                  <%= f.button :submit, class: "w-full btn-square btn-amber mb-2" do %>
                    <% if provider == :google_oauth2 %>
                      <div class="flex items-center justify-start">
                        <%= image_tag("google.png", class: "inline-block h-8 w-8") %>
                        <span class="m-auto">使用 Google 登入</span>
                      </div>
                    <% elsif provider == :facebook%>
                      <div class="flex items-center justify-start">
                        <%= image_tag("facebook.png", class: "inline-block h-8 w-8") %>
                        <span class="m-auto">使用 Facebook 登入</span>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
</section>
