<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-200">
  <div class="flex justify-between">
  <div class= "flex items-center">
    <span class = 'text-cyan-400 inline-block mr-1'> <%=favorites.count %></span>
    <span>個<%=object%>在您的收藏</span>
  </div>
  <%= form_with(url: favorites_path, method: "get") do %>
    <%= label_tag(:sort, "排序:") %>
    <%= select_tag(:sort, options_for_select([["價位", "price"], ["收藏時間", "name"]])) %>
  <% end %>
  </div>
<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-200">