<main class="container mx-auto mt-12 px-5 max-w-screen-xl">
  <div class="flex">
    <h1 class="font-bold text-4xl">喜愛清單</h1>
    <%= link_to '返回清單', restaurants_path, class: "rounded-lg py-3 px-5 block font-medium mx-3 border" %>
  </div>

  <div data-controller="favorite">
    <ul class="flex list-none">
      <li class="flex-1">
        <button class="btn-category w-full" data-action="click->favorite#toggle" data-section="all">全部</button>
      </li>
      <li class="flex-1">
        <button class="btn-category w-full" data-action="click->favorite#toggle" data-section="plan">行程</button>
      </li>
      <li class="flex-1">
        <button class="btn-category w-full" data-action="click->favorite#toggle" data-section="restaurant">餐廳</button>
      </li>
      <li class="flex-1">
        <button class="btn-category w-full" data-action="click->favorite#toggle" data-section="hotel">飯店</button>
      </li>
      <li class="flex-1">
        <button class="btn-category w-full" data-action="click->favorite#toggle" data-section="attraction">景點</button>
      </li>
    </ul>

    <section data-favorite-target="section" data-section="all" class="justify-between items-center">
      <h2 class="font-bold text-3xl my-4">全部</h2>
      <%= render "subheader", favorites:@favorites, object:"行程"%>
      <div class="min-w-full gap-4 flex px-6">
        <%= render "favorite_list", favorite_objects:@favorites%>
      </div>
    </section>

    <section data-favorite-target="section" data-section="plan" class="justify-between items-center hidden">
      <h2 class="font-bold text-3xl my-4">行程</h2>
      <%= render "subheader", favorites:@favorites, object:"行程"%>
    </section>

    <section data-favorite-target="section" data-section="restaurant" class="justify-between items-center hidden">
      <h2 class="font-bold text-3xl my-4">餐廳</h2>
      <%= render "subheader", favorites:@favorites.restaurants, object:"餐廳"%>
      <div class="min-w-full grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4 flex px-6">
        <%= render "favorite_list", favorite_objects:@favorites.restaurants%>
      </div>
    </section>

    <section data-favorite-target="section" data-section="hotel" class="justify-between items-center hidden">
      <h2 class="font-bold text-3xl my-4">飯店</h2>
      <%= render "subheader", favorites:@favorites, object:"飯店"%>
    </section>

    <section data-favorite-target="section" data-section="attraction" class="justify-between items-center hidden">
      <h2 class="font-bold text-3xl my-4">景點</h2>
      <%= render "subheader", favorites:@favorites, object:"景點"%>
    </section>
  </div>
</main>