<nav class="static top-0 flex items-center justify-between h-16 bg-white shadow-xl" data-controller="navbar">
    <div class="flex items-center ml-4">
        <%= link_to root_path, class: 'cursor-default' do %>
            <%= image_tag 'logo',size: '30x30', class: 'inline-block' %>
            <span class="align-middle text-amber-500 cloitems-center inlink-block tracking-zero">Tour</span>
            <span class="items-center align-middle inlink-block text-sky-500 tracking-zero">Mind</span>
        <% end %>
    </div>
    <div class="flex items-center px-2">
        <% if current_user %>
            <ul data-navbar-target="navbarMenu" class="hidden navbar-menu md:flex">
                <li class="px-5 py-2 md:px-2">
                    <span><%= current_user.email %></span>
                </li>
                <li class="px-5 py-2 md:px-2">
                    <%= button_to "登出", destroy_user_session_path, method: "delete", class: "btn-round btn-sm btn-gray mr-2" %>
                </li>
                <li class="px-5 py-2 md:px-2">
                    <% if current_user.diamond_grade == '一般會員'%>
                        <%= link_to "升級會員", pricing_path,
                                            class: "btn-round btn-sm btn-gray mr-2"  %>
                    <% elsif current_user.diamond_grade == '白鑽會員' %>
                        <span class="mr-2 btn-round btn-sm btn-VIP"><%= image_tag("diamond-white", size: "20x20", class: "inline") %> 白鑽會員</span>
                    <% elsif current_user.diamond_grade == '藍鑽會員' %>
                        <span class="mr-2 btn-round btn-sm btn-VIP"><%= image_tag("diamond-blue", size: "20x20", class: "inline") %> 藍鑽會員</span>
                    <% elsif current_user.diamond_grade == '紅鑽會員' %>
                        <span class="mr-2 btn-round btn-sm btn-VIP"><%= image_tag("diamond-red", size: "20x20", class: "inline") %> 紅鑽會員</span>
                    <% end %>
                </li>
            </ul>
            <i class="rounded-full ring ring-primary ring-offset-base-100">
                <% if current_user.avatar_url == nil || current_user.avatar_url == ''%>
                    <%=link_to image_tag("user_default_avatar", class: "w-10 rounded-full truncate"),edit_user_registration_path%>
                <% else %>
                    <%=link_to image_tag(current_user.avatar_url, class: "rounded-full w-10 h-10 mr-2"), edit_user_registration_path%>
                <% end %>
            </i>
            <button class="px-2 md:hidden" data-action="click->navbar#toggleNavbarMenu">
                <i class="fa-solid fa-bars fa-xl"></i>
            </button>
        <% else %>
            <ul data-navbar-target="navbarMenu" class="hidden navbar-menu md:flex">
                <li class="px-5 py-2 md:px-2">
                    <%= link_to "升級會員", pricing_path,
                                        class: "btn-round btn-sm btn-gray"  %>
                </li>
                <li class="px-5 py-2 md:px-2">
                    <%= link_to "會員登入" , new_user_session_path, 
                                        class: "btn-round btn-sm btn-black" %>
                </li>
                <li class="px-5 py-2 md:px-2">
                    <%= link_to "註冊", new_user_registration_path, 
                                        class: "btn-round btn-sm btn-gray" %>
                </li>
            </ul>
            <button class="px-2 md:hidden" data-action="click->navbar#toggleNavbarMenu">
                <i class="fa-solid fa-bars fa-xl"></i>
            </button>
        <% end %>
    </div>
</nav>