<div class="container py-6 mx-auto grid grid-cols-4 gap-4">
  <% if @hotels.present? %>
    <% @hotels.each do |hotel| %>
      <div class="overflow-hidden bg-white rounded-md shadow-lg">
        <div class="relative">
          <%= link_to hotel_path(hotel) do %>
            <div class="text-gray-700 h-[15rem]">
              <% if hotel.scraped_photo.present? %>
                <img class="object-fit:cover w-full h-[250px]" src="<%= hotel.scraped_photo %>" alt="Sites Pic">
              <% else %>
                <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover h-[250px] ' %>
              <% end %>
            </div>
        </div>
        <div class="m-2">
          <div class="flex items-start justify-between">
            <h2 class="text-xl font-medium">
            <%= hotel.name %>
            </h2>
          </div>
          <ul>
            <li class="mt-2"><%= hotel.intro&.truncate(50) %></li>
          </ul>
          <div class="flex mt-2">
            <ul class="flex flex-wrap mt-2">
            </ul>
          </div>
          <div class="mt-2">
            <% if hotel.equipment.present? %>
            <ul class="flex flex-wrap mt-2">
              <% hotel.equipment.each do |equipment| %>
                <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                  <%= equipment %>
                </li>
              <% end %>
            </ul>
            <% else %>
              <p>沒有類型資料</p>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
    <span class="font-bold text-2xl">沒有相關搜尋結果</span>
    </div>
  <% end %>
</div>
