<div class="container py-6 mx-auto">
  <div class="grid grid-cols-4 gap-4">
    <% @restaurants.each do |restaurant| %>
      <div class="overflow-hidden bg-white rounded-md shadow-lg">
        <div class="relative">
          <%= link_to restaurant_path(restaurant) do %>
            <div class="text-gray-700 h-[15rem]">
              <% if restaurant.images.present? %>
                <img class="w-full h-full object-cover" src="<%= restaurant.images.first.url %>" alt="Restaurant Pic">
              <% else %>
                <%= image_tag "https://fakeimg.pl/350x200/?text=TourMind", class:'object-cover w-full h-full' %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="m-2">
          <div class="flex items-start justify-between">
            <h2 class="text-xl font-medium">
              <%= restaurant.name %>
            </h2>
            <%= link_to restaurants_path(restaurant_type: [restaurant.restaurant_type]) do %>
              <span class="inline-block text-md mt-4 px-3 py-1 font-semibold text-gray-700 bg-gray-200 rounded-full text-center">
                <%= restaurant.restaurant_type %>
              </span>
            <% end %>
          </div>
          <ul>
            <li class="mt-2"><%= restaurant.intro&.truncate(70) %></li>
          </ul>
          <div class="flex mt-2">
            <ul class="flex flex-wrap mt-2">
              <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                均消:<%= restaurant.price.to_i %>
              </li>
            </ul>
          </div>
          <div class="mt-2">
            <% if restaurant.cuisine_types.present? || restaurant.atmostphere.present? %>
              <ul class="flex flex-wrap mt-2">
                <% if restaurant.cuisine_types.present? %>
                  <% restaurant.cuisine_types.each do |cuisine_type| %>
                    <%= link_to restaurants_path(cuisine_types: [cuisine_type]) do %>
                      <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                        <%= cuisine_type %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
                <% if restaurant.atmostphere.present? %>
                  <% restaurant.atmostphere.each do |atmostphere| %>
                    <%= link_to restaurants_path(atmostphere: [atmostphere]) do %>
                      <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                        <%= atmostphere %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
