<div class="container py-6 mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <% if @sites.present? %>
    <% @sites.each do |site| %>
      <div class="overflow-hidden bg-white rounded-md shadow-lg">
        <div class="relative">
          <%= link_to site_path(site) do %>
            <div class="text-gray-700 h-[15rem]">
              <% if site.scraped_photos.present? %>
                <%= image_tag site.scraped_photos.first, class: 'object-cover w-full h-full' %>
              <% else %>
                <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover w-full h-full' %>
              <% end %>
            </div>
        </div>
        <div class="m-2">
          <div class="flex items-start justify-between">
            <h2 class="text-xl font-medium">
            <%= site.name %>
            </h2>
          </div>
          <ul>
            <li class="mt-2"><%= site.intro&.truncate(70) %></li>
          </ul>
          <div class="flex mt-2">
            <ul class="flex flex-wrap mt-2">
            </ul>
          </div>
          <div class="mt-2">
            <% if site.site_types.present? %>
            <ul class="flex flex-wrap mt-2">
              <% site.site_types.each do |site_type| %>
              <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                <%= site_type %>
              </li>
              <% end %>
            </ul>
            <% else %>
              <p>沒有類型資料</p>
            <% end %>
          </div>
          <%end%>
        </div>
      </div>
    <%end%>
  <% else %>
    <div class="text-center">
    <span class="font-bold text-2xl">沒有相關搜尋結果</span>
    </div>
  <% end %>
</div>
