<div class="sm:hidden">
  <label for="menu" class="sr-only">選單</label>
  <select id="menu" onchange="window.location.href=this.value" class="block w-full px-4 py-2 pr-8 leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline">
    <option value="">首頁</option>
    <option value="<%= sites_path %>">景點</option>
    <option value="<%= restaurants_path %>">餐廳</option>
    <option value="<%= hotels_path %>">住宿</option>
    <option value="<%= plans_path %>">行程規劃</option>
  </select>
  <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.292 13.292a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 1.414-1.414L8 10.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3z"/></svg>
  </div>
</div>
<div class="flex justify-center my-6">
  <div class="hidden sm:flex container">
    <%= link_to hotels_path, class: "inline-block w-1/4 mr-2" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">住宿</h2>
      </div>
    <% end %>
    <%= link_to sites_path , class: "inline-block w-1/4 mr-2" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">景點</h2>
      </div>
    <% end %>
    <%= link_to restaurants_path, class: "inline-block w-1/4 mr-2" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">餐廳</h2>
      </div>
    <% end %>
    <%= link_to plans_path , class: "inline-block w-1/4" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">行程規劃</h2>
      </div>
    <% end %>
  </div>
</div>
<section class="relative container mx-auto h-96 overflow-hidden flex justify-center items-center">
  <img src="https://images.pexels.com/photos/1174732/pexels-photo-1174732.jpeg" alt="圖片" class="absolute w-full">
    <div class="px-2 z-10">
      <h2 class="mb-4 text-2xl font-bold text-white md:text-3xl">探索你的玩樂世界</h2>
      <p class="p-2 mb-4 text-base text-white md:text-lg">找尋在地體驗或到遠方探險，隨時隨地探索屬於你的玩樂世界</p>
      <%= form_with(url: page_search_path, method: "get", id: "search-form", data: { controller: "search", action: "submit->search.clearInput" }, class: "flex flex-nowrap items-center md:flex-row md:items-center") do |form| %>

      <%= form.text_field :query, placeholder: "請輸入名稱/地址/類型...", id: "search-input", class: "block w-full py-2 mx-2 leading-5 bg-white border-gray-500 rounded-full pl-14 marker:border focus:outline-none focus:border-blue-300 focus:shadow-outline-blue sm:text-sm sm:leading-5"%>

      <%= form.submit "搜尋", class: "px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-transparent rounded-full whitespace-nowrap hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600"%>
      <% end %>  
    </div>
</section>
<section class="container mx-auto py-6 px-4 md:px-0">
  <div class="text-2xl font-bold mb-2 px-1">行程推薦</div>
  <div class="flex flex-nowrap gap-3 carousel p-1">
    <% @plans.sample(3).each_with_index do |plan, index| %>
      <div class="rounded-lg shadow shrink-0 md:shrink w-full md:w-1/3 jogging carousel-item" tabindex="0">
        <%= link_to plan_path(plan), class: "rounded-lg  focus:bg-gray-700 transition duration-300 ease-in-out group" do %>
          <div class="w-full">
            <% if plan.picsums.present? %>
              <%= image_tag plan.picsums.first, style: "object-fit: fill; height: 400px; width: 650px;"  %>
            <% elsif plan.images.present? %>
              <%= image_tag plan.images.first.url, style: "object-fit: fill; height: 400px; width: 650px;"  %>
            <% else %>
              <%= image_tag "https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/00/a0000276/img/basic/a0000276_main.jpg?20170427165412", style: "object-fit: fill; height: 400px; width: 650px;" %>
            <% end %>
          </div>
          <div class="text translate-y-1/2 md:translate-y-[8rem] lg:translate-y-[11.5rem] xl:translate-y-[15.5rem] md:group-hover:translate-y-0">
            <h2 data-splitting="" class="mb-2 text-lg lg:text-2xl text-center"><%= plan.name %></h2>
            <p data-splitting="" class="text-xm lg:text-base"><%= plan.description&.truncate(60) %></p>
          </div>
        <% end %>
      </div>
    <%end%>
  </div>
</section>
 
<section class="container mx-auto py-6 px-4 md:px-1">
  <div class="text-2xl font-bold mb-2 px-1">熱門餐廳</div>
  <div class="flex flex-nowrap gap-3 carousel p-1">
    <% @restaurants.sample(4).each_with_index do |restaurant, index| %>
      <div class="rounded-lg overflow-hidden shadow shrink-0 md:shrink w-full md:w-1/2 lg:w-1/3 xl:w-1/4 carousel-item">
        <%= link_to restaurant_path(restaurant), class: "w-full transition duration-300 ease-in-out rounded-lg focus:bg-gray-700" do %>
          <div class="w-full">
            <% if restaurant.scraped_photos.present? %>
              <%= image_tag restaurant.scraped_photos.first, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% elsif restaurant.images.present? %>
              <%= image_tag restaurant.images.first.url, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% else %>
              <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% end %>
          </div>
          <div class="p-2">
            <p class="mb-2 mr-2 text-lg font-medium leading-tight text-gray-700"><%= restaurant.name %></p>
            <p><%= star_rating(@restaurant_data[restaurant.id][:average_rating]) %>
              <%= sprintf('%.1f', @restaurant_data[restaurant.id][:average_rating]) %>
              (<%= @restaurant_data[restaurant.id][:comment_count] %>則評論)
            </p>
            <p class="mt-2 text-sm text-gray-600"><%= restaurant.intro&.truncate(30) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="container mx-auto py-6 px-4 md:px-1">
  <div class="text-2xl font-bold mb-2 px-1">人氣住宿</div>
  <div class="flex flex-nowrap gap-3 carousel p-1">
    <% @hotels.sample(4).each_with_index do |hotel| %>
      <div class="rounded-lg overflow-hidden shadow shrink-0 md:shrink w-full md:w-1/2 lg:w-1/3 xl:w-1/4 carousel-item">
        <%= link_to hotel_path(hotel), class:"w-full transition duration-300 ease-in-out rounded-lg focus:bg-gray-700" do %>
          <div class="w-full">
            <% if hotel.scraped_photo.present? %>
              <%= image_tag hotel.scraped_photo, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% elsif hotel.images.present? %>
              <%= image_tag hotel.images.first.url, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% else %>
              <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% end %>
          </div>
          <div class="p-2">
            <p class="mb-2 mr-2 text-lg font-medium leading-tight text-gray-700"><%= hotel.name %></p>
            <p><%= star_rating(@hotel_data[hotel.id][:average_rating]) %>
              <%= sprintf('%.1f', @hotel_data[hotel.id][:average_rating]) %>
              (<%= @hotel_data[hotel.id][:comment_count] %>則評論)
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="container mx-auto py-6 px-4 md:px-1">
  <div class="text-2xl font-bold mb-2 px-1">熱門景點</div>
  <div class="flex flex-nowrap gap-3 carousel p-1">
    <% @sites.sample(4).each_with_index do |site| %>
      <div class="rounded-lg overflow-hidden shadow shrink-0 md:shrink w-full md:w-1/2 lg:w-1/3 xl:w-1/4 carousel-item">
        <%= link_to site_path(site), class:"w-full transition duration-300 ease-in-out rounded-lg focus:bg-gray-700" do %>
          <div class="w-full">
            <% if site.scraped_photos.present? %>
              <%= image_tag site.scraped_photos.first, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% elsif site.images.present? %>
              <%= image_tag site.images.first.url, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% else %>
              <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% end %>
          </div>
          <div class="p-2">
            <p class="mb-2 mr-2 text-lg font-medium leading-tight text-gray-700"><%= site.name %></p>
            <p><%= star_rating(@site_data[site.id][:average_rating]) %>
              <%= sprintf('%.1f', @site_data[site.id][:average_rating]) %>
              (<%= @site_data[site.id][:comment_count] %>則評論)
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="container mx-auto py-6 px-4 md:px-1">
  <div class="text-2xl font-bold mb-2 px-1">飯店推薦</div>
  <div class="flex flex-nowrap gap-3 carousel p-1">
    <% @hotels.sample(4).each_with_index do |hotel, index| %>
      <div class="rounded-lg overflow-hidden shadow shrink-0 md:shrink w-full md:w-1/2 lg:w-1/3 xl:w-1/4 carousel-item">
        <%= link_to hotel_path(hotel), class:"w-full transition duration-300 ease-in-out rounded-lg focus:bg-gray-700" do %>
          <div class="w-full">
            <% if hotel.scraped_photo.present? %>
              <%= image_tag hotel.scraped_photo, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% elsif hotel.images.present? %>
              <%= image_tag hotel.images.first.url, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% else %>
              <%= image_tag "https://i0.wp.com/banbi.tw/wp-content/uploads/20190505142306_31.jpg", style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% end %>
          </div>
          <div class="p-2">
            <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= hotel.name %></p>
            <p><%= star_rating(@hotel_data[hotel.id][:average_rating]) %>
              <%= sprintf('%.1f', @hotel_data[hotel.id][:average_rating]) %>
              (<%= @hotel_data[hotel.id][:comment_count] %>則評論)
            </p>
            <p class="mb-4 text-sm text-gray-600"><%= hotel.intro&.truncate(30) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</section>
<section class="container mx-auto py-6 px-4 md:px-1">
  <div class="text-2xl font-bold mb-2 px-1">探索更多人氣選擇</div>
  <div class="flex flex-nowrap gap-3 carousel p-1">
    <% @hotels.sample(4).each do |hotel| %>
      <div class="rounded-lg overflow-hidden shadow shrink-0 w-full md:w-1/3 lg:w-1/4 xl:w-1/5 carousel-item">
        <%= link_to hotel_path(hotel), class:"w-full transition duration-300 ease-in-out rounded-lg focus:bg-gray-700" do %>
          <div class="w-full">
            <% if hotel.scraped_photo.present? %>
              <%= image_tag hotel.scraped_photo, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% elsif hotel.images.present? %>
              <%= image_tag hotel.images.first.url, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% else %>
              <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% end %>
          </div>
          <div class="p-2">
            <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= hotel.name %></p>
            <p><%= star_rating(@hotel_data[hotel.id][:average_rating]) %>
              <%= sprintf('%.1f', @hotel_data[hotel.id][:average_rating]) %>
              (<%= @hotel_data[hotel.id][:comment_count] %>則評論)
            </p>
            <p class="mb-4 text-sm text-gray-600"><%= hotel.intro&.truncate(30) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <% @sites.sample(4).each do |site| %>
      <div class="rounded-lg overflow-hidden shadow shrink-0 w-full md:w-1/3 lg:w-1/4 xl:w-1/5 carousel-item">
        <%= link_to site_path(site), class: "w-full transition duration-300 ease-in-out rounded-lg focus:bg-gray-700" do %>
          <div class="w-full">
            <% if site.scraped_photos.present? %>
              <%= image_tag site.scraped_photos.first, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% elsif site.images.present? %>
              <%= image_tag site.images.first.url, style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% else %>
              <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", style: "object-fit: fill; height: 300px; width: 650px;" %>
            <% end %>
          </div>
          <div class="p-2">
            <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= site.name %></p>
            <p><%= star_rating(@site_data[site.id][:average_rating]) %>
              <%= sprintf('%.1f', @site_data[site.id][:average_rating]) %>
              (<%= @site_data[site.id][:comment_count] %>則評論)
            </p>
            <p class="mb-4 text-sm text-gray-600"><%= site.intro&.truncate(30) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
