<div class="sm:hidden">
  <label for="menu" class="sr-only">選單</label>
  <select id="menu" onchange="window.location.href=this.value" class="block w-full px-4 py-2 pr-8 leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline">
    <option value=""disabled selected>選擇</option>
    <option value="<%= sites_path %>">住宿</option>
    <option value="<%= restaurants_path %>">景點</option>
    <option value="<%= hotels_path %>">餐廳</option>
    <option value="<%= plans_path %>">行程規劃</option>
  </select>
  <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.292 13.292a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 1.414-1.414L8 10.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3z"/></svg>
  </div>
</div>
<div class="flex justify-center my-6">
  <div class="flex hidden sm:flex container">
    <%= link_to hotels_path, class: "inline-block w-1/4 mr-2" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">住宿</h2>
      </div>
    <% end %>
    <%= link_to sites_path , class: "inline-block w-1/4 mr-2" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">景點</h2>
      </div>
    <% end %>
    <%= link_to restaurants_path, class: "inline-block w-1/4 mr-2" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">餐廳</h2>
      </div>
    <% end %>
    <%= link_to plans_path , class: "inline-block w-1/4" do %>
      <div class="home-title bg-with text-black rounded-lg border-b-4 border-b-gray-400 hover:border-b-0 transition-all ease-in-out duration-100 shadow-md">
        <h2 class="text-xl font-semibold">行程規劃</h2>
      </div>
    <% end %>
  </div>
</div>
<section class="relative container mx-auto">
  <img src="https://ak-d.tripcdn.com/images/0104h1200081fkqhn9FAA.jpg" alt="圖片" class="w-full h-96">
  <div class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 md:w-1/2">
    <div class="container mx-auto">
      <h2 class="mb-4 text-2xl font-bold text-white md:text-3xl">探索你的玩樂世界</h2>
      <p class="p-2 mb-4 text-base text-white md:text-lg">找尋在地體驗或到遠方探險，隨時隨地探索屬於你的玩樂世界</p>
      <%= form_with(url: page_search_path, method: "get", id: "search-form", data: { controller: "search", action: "submit->search.clearInput" }, class: "flex justify-center mb-2 max-h-10") do |form| %>
      <%= form.text_field :query, placeholder: "請輸入名稱/地址/類型...", id: "search-input", class: "block w-full pl-8 pr-10 py-2 border border-gray-500 rounded-full leading-5 bg-white focus:outline-none focus:border-blue-300 focus:shadow-outline-blue sm:text-sm sm:leading-5" %>
      <%= form.submit "搜尋", class: "ml-2 py-2 px-4 border border-transparent text-sm  rounded-full text-white bg-blue-500 hover:bg-blue-600 " %>
      <% end %>
    </div>
  </div>
</section>
<section class="container mx-auto py-6">
  <h2 class="text-4xl py-4 font-bold">熱門行程</h2>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 justify-center ">
    <% @plans.first(3).each do |plan| %>
      <div class="rounded-lg shadow-lg jogging card-dows">
        <a href="<%= plan_path(plan.id) %>" class="block">
          <div class="md:aspect-w-3 md:aspect-h-2 aspect-w-12 aspect-h-4">
            <% if plan.images.present? %>
              <img class="object-cover w-full h-full" src="<%= plan.images.first.url %>" alt="Plan Image">
            <% else %>
              <%= image_tag "https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/00/a0000276/img/basic/a0000276_main.jpg?20170427165412", class: 'object-cover w-full h-full' %>
            <% end %>
          </div>
          <div class="p-4 text">
            <h2 data-splitting="" class="text-xl font-bold mb-2"><%= plan.name %></h2>
            <p data-splitting="" class="text-sm text-with"><%= plan.description&.truncate(60) %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</section>

<section class="container mx-auto py-6">
  <h2 class="text-4xl py-4 font-bold">精選餐廳</h2>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-center">
    <% @restaurants.first(4).each_with_index do |restaurant| %>
      <div class="relative rounded-lg card-dows">
        <a href="<%= restaurant_path(restaurant) %>" class="transition duration-300 ease-in-out focus:bg-gray-700">
        <div class="sm:aspect-w-8 sm:aspect-h-1 aspect-w-20 aspect-h-1">
          <div class="relative transform rounded-t-xl image-container">
                <% if restaurant.scraped_photos.present? %>
                  <img class="object-fit:cover w-full h-[250px]" src="<%= restaurant.scraped_photos.first %>" alt="Sites Pic">
                <% else %>
                  <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover w-full ' %>
                <% end %>
            </div>
          </div>
          <p class="mb-2 mr-2 text-lg font-medium leading-tight text-gray-700"><%= restaurant.name %></p>
          <p><%= star_rating(@restaurant_data[restaurant.id][:average_rating]) %>
            <%= sprintf('%.1f', @restaurant_data[restaurant.id][:average_rating]) %>
            (<%= @restaurant_data[restaurant.id][:comment_count] %>則評論)
          </p>
        </a>
      </div>
    <% end %>
  </div>
</section>
<section class="container mx-auto py-6">
  <h2 class="text-4xl py-4 font-bold">人氣住宿</h2>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-center">
    <% @hotels.first(4).each_with_index do |hotel| %>
      <div class="relative rounded-lg card-dows">
        <a href="<%= hotel_path(hotel) %>" class="transition duration-300 ease-in-out focus:bg-gray-700">
        <div class="md:aspect-w-8 md:aspect-h-1 aspect-w-20 aspect-h-1">
          <div class="relative transform rounded-t-xl image-container">
                <% if hotel.scraped_photo.present? %>
                  <img class="object-fit:cover w-full h-[250px]" src="<%= hotel.scraped_photo %>" alt="Sites Pic">
                <% else %>
                  <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover h-[250px] ' %>
                <% end %>
            </div>
          </div>
          <p class="mb-2 mr-2 text-lg font-medium leading-tight text-gray-700"><%= hotel.name %></p>
          <p><%= star_rating(@hotel_data[hotel.id][:average_rating]) %>
            <%= sprintf('%.1f', @hotel_data[hotel.id][:average_rating]) %>
            (<%= @hotel_data[hotel.id][:comment_count] %>則評論)
          </p>
        </a>
      </div>
    <% end %>
  </div>
</section>
<section class="container mx-auto py-6">
  <h2 class="text-4xl py-4 font-bold">熱門景點</h2>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-center">
    <% @sites.first(4).each_with_index do |site| %>
      <div class="relative rounded-lg card-dows">
        <a href="<%= site_path(site) %>" class="transition duration-300 ease-in-out focus:bg-gray-700">
        <div class="md:aspect-w-8 md:aspect-h-1 aspect-w-20 aspect-h-1">
          <div class="relative transform rounded-t-xl image-container">
                <% if site.scraped_photos.present? %>
                  <img class="object-fit:cover w-full h-[250px]" src="<%= site.scraped_photos.first %>" alt="Sites Pic">
                <% else %>
                  <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover h-[250px] ' %>
                <% end %>
            </div>
          </div>
          <p class="mb-2 mr-2 text-lg font-medium leading-tight text-gray-700"><%= site.name %></p>
          <p><%= star_rating(@site_data[site.id][:average_rating]) %>
            <%= sprintf('%.1f', @site_data[site.id][:average_rating]) %>
            (<%= @site_data[site.id][:comment_count] %>則評論)
          </p>
        </a>
      </div>
    <% end %>
  </div>
</section>
<section class="container py-6 mx-auto ">
  <div class="relative bg-white  hidden sm:block"  style="height:auto" data-controller="moving">
    <div data-moving-target="slides" class="">
      <div class="flex">
        <% @hotels.slice(12,4).each_with_index do |hotel, index| %>
          <div class="rounded-lg shadow-lg flex-grow-0 w-full md:w-1/2 lg:w-1/4 <%= index == 3 ? '' : 'mr-2'%>">
            <a href="<%= hotel_path(hotel) %>" class="transition duration-300 ease-in-out rounded-lg focus:bg-gray-700">
              <div class="relative image-container rounded-t-xl ">
                <div class="">
                <% if hotel.scraped_photo? %>
                  <img class="object-fit:cover w-full h-[250px]" src="<%= hotel.scraped_photo %>" alt="Hotels Pic">
                <% else %>
                  <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover w-full ' %>
                <% end %>
                </div>
                <div class="absolute top-0 left-0 px-2 py-1 m-3 text-sm font-medium text-white bg-gray-900 rounded">
                  <span>人氣住宿</span>
                </div>
              </div>
              <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= hotel.name %></p>
              <p><%= star_rating(@hotel_data[hotel.id][:average_rating]) %>
                <%= sprintf('%.1f', @hotel_data[hotel.id][:average_rating]) %>
                (<%= @hotel_data[hotel.id][:comment_count] %>則評論)
              </p>
              <p class="mb-4 text-sm text-gray-600"><%= hotel.intro&.truncate(30) %></p>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div data-moving-target="slides" class="flex">
      <div class="flex">
        <% @sites.slice(8,4).each_with_index do |site, index| %>
          <div class="rounded-lg shadow-lg flex-grow-0 w-full md:w-1/2 lg:w-1/4  <%= index == 3 ? '' : 'mr-2'%>">
            <a href="<%= site_path(site) %>" class="transition duration-300 ease-in-out rounded-lg focus:bg-gray-700">
              <div class="relative image-container rounded-t-xl ">
                <div>
                <% if site.scraped_photos.present? %>
                  <img class="object-fit:cover w-full h-[250px]" src="<%= site.scraped_photos.first %>" alt="Sites Pic">
                <% else %>
                  <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-cover w-full' %>
                <% end %>
                </div>
                <div class="absolute top-0 left-0 px-2 py-1 m-3 text-sm font-medium text-white bg-gray-900 rounded">
                  <span>景點推薦</span>
                </div>
              </div>
              <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= site.name %></p>
              <p><%= star_rating(@site_data[site.id][:average_rating]) %>
                <%= sprintf('%.1f', @site_data[site.id][:average_rating]) %>
                (<%= @site_data[site.id][:comment_count] %>則評論)
              </p>
              <p class="mb-4 text-sm text-gray-600"><%= site.intro&.truncate(30) %></p>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <button data-action="click->moving#prevSlide" class="absolute left-0 w-8 h-8 transform -translate-y-1/2  rounded-full bg-gray-200 top-1/2">
      <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
    </button>
    <button data-action="click->moving#nextSlide" class="absolute right-0 w-8 h-8 transform -translate-y-1/2 rounded-full bg-gray-200 top-1/2">
      <i class="fa-solid fa-circle-chevron-right fa-2xl"></i>
    </button>
  </div>
</section>
<h2 class="text-4xl py-4 container mx-auto font-bold">探索更多人氣選擇</h2>
<section class="container py-6 mx-auto carousel">
  <div class="carousel-item mb-2">
    <% @hotels.last(4).reverse_each do |hotel| %>
      <div class="mr-2 bg-white md:w-1/2 lg:w-1/3 xl:w-1/4 card-dows">
        <a href="<%= hotel_path(hotel) %>" class="focus:bg-gray-700">
          <div class="relative image-container rounded-t-xl">
            <% if hotel.scraped_photo.present? %>
              <img class="object-fit:cover w-full h-[250px]" src="<%= hotel.scraped_photo %>" alt="Sites Pic">
            <% else %>
              <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-fit:cover w-full h-[250px] ' %>
            <% end %>
          </div>
          <div class="">
            <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= hotel.name %></p>
            <p><%= star_rating(@hotel_data[hotel.id][:average_rating]) %>
              <%= sprintf('%.1f', @hotel_data[hotel.id][:average_rating]) %>
              (<%= @hotel_data[hotel.id][:comment_count] %>則評論)
            </p>
            <p class="mb-4 text-sm text-gray-600"><%= hotel.intro&.truncate(30) %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="carousel-item">
    <% @sites.last(4).reverse_each do |site| %>
      <div class="mr-2 bg-white rounded-lg md:w-1/2 lg:w-1/3 xl:w-1/4 card-dows">
        <a href="<%= sites_path(site) %>" class="transition duration-300 ease-in-out rounded-lg focus:bg-gray-700">
          <div class="relative image-container rounded-xl">
               <% if site.scraped_photos.present? %>
                  <img class="object-fit:cover w-full h-[250px]" src="<%= site.scraped_photos.first %>" alt="Sites Pic">
                <% else %>
                  <%= image_tag "https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class: 'object-fit:cover w-full h-[250px] ' %>
                <% end %>
          </div>
          <div class="">
            <p class="mb-2 text-lg font-medium leading-tight text-gray-700"><%= site.name %></p>
            <p><%= star_rating(@site_data[site.id][:average_rating]) %>
              <%= sprintf('%.1f', @site_data[site.id][:average_rating]) %>
              (<%= @site_data[site.id][:comment_count] %>則評論)
            </p>
            <p class="mb-4 text-sm text-gray-600"><%= site.intro&.truncate(30) %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> 7e42c43 (fixed home image size)
