<div class = "bg-white mb-12 ">
  <div class="container mx-auto pt-12 max-w-screen-xl">
    <div class="flex">
      <%= form_with(url: page_search_path, method: "get", id: "search-form", data: { controller: "search", action: "submit->search.clearInput" }, class: "flex justify-center mb-2 max-h-10") do |form| %>
      <%= form.text_field :query, placeholder: "請輸入名稱/地址/類型...", id: "search-input", class: "block w-full pl-8 pr-10 py-2 border border-gray-500 rounded-full leading-5 bg-white focus:outline-none focus:border-blue-300 focus:shadow-outline-blue sm:text-sm sm:leading-5" %>
      <%= form.submit "搜尋", class: "ml-2 py-2 px-4 border border-transparent text-sm font-medium rounded-full text-indigo-100 bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600" %>
      <% end %>    
    </div>
    <h1 class="font-bold text-2xl">搜尋結果: &ldquo;<%= @query %>&rdquo;</h1>
    <div data-controller="favorite">
      <ul class="flex list-none py-6">
        <li>
          <button class="btn-category mr-2" data-action="click->favorite#toggle" data-section="all">全部</button>
        </li>
        <li class=>
          <button class="btn-category mr-2" data-action="click->favorite#toggle" data-section="restaurant">餐廳</button>
        </li>
        <li class=>
          <button class="btn-category mr-2" data-action="click->favorite#toggle" data-section="hotel">飯店</button>
        </li>
        <li class=>
          <button class="btn-category mr-2" data-action="click->favorite#toggle" data-section="attraction">景點</button>
        </li>
      </ul>
      <section data-favorite-target="section" data-section="all" class="justify-between items-center">
        <h2 class="font-bold text-3xl my-2">全部</h2>
        <div class="flex flex-wrap carousel">
          <% if @hotels.present? %>
            <div class="w-full bg-gray-200 p-4 mb-4">
              <span>飯店</span>
              <%= render "hotel" %>
            </div>
          <% end %>
          <% if @restaurants.present? %>
            <div class="w-full bg-gray-200 p-4 mb-4">
              <span>餐廳</span>
              <%= render "restaurant" %>
            </div>
          <% end %>
          <% if @sites.present? %>
            <div class="w-full bg-gray-200 p-4 mb-4">
              <span>景點</span>
              <%= render "site" %>
            </div>
          <% end %>
        </div>
      </section>
      <section data-favorite-target="section" data-section="restaurant" class="justify-between items-center hidden">
        <h2 class="font-bold text-3xl my-4">餐廳</h2>
        <div class="min-w-full gap-4 flex ">
          <% if @restaurants.present? %>
          <div>
            <%= render "restaurant" %>
          </div>
          <% end %>
        </div>
      </section>
      <section data-favorite-target="section" data-section="hotel" class="justify-between items-center hidden">
        <h2 class="font-bold text-3xl my-4">飯店</h2>
        <div class="min-w-full gap-4 flex ">
          <% if @hotels.present? %>
          <div>
            <%= render "hotel" %>
          </div>
          <% end %>
        </div>
      </section>
      <section data-favorite-target="section" data-section="attraction" class="justify-between items-center hidden">
        <h2 class="font-bold text-3xl my-4">景點</h2>
        <div class="min-w-full gap-4 flex ">
          <% if @sites.present? %>
          <div>
            <%= render "site" %>
          </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
