<div class = flex>
  <h1 class="font-bold text-4xl"><%=restaurant.name%></h1>
  <%= render "favoritebtn", object:@restaurant, size:'text-lg'%>
</div>
  <div class="flex items-center">
    <span class="mr-2"><%= star_rating(@average_rating) %><%= sprintf('%.1f', @average_rating) %></span>
    <span class="mr-2"><%= @comment_count == 0 ? '0則評論' : "#{@comment_count}則評論" %></span>
    <span class="inline-block rounded-full px-3 py-1 text-md font-semibold text-gray-700 "><%= restaurant.restaurant_type%></span>
  </div>
