<div class="map-container flex flex-wrap bg-white">
  <h2 class="font-bold text-2xl py-3">位置和聯絡方式</h2>
  <div class = "w-full h-2/3">
    <iframe class="w-full h-[15rem] my-auto" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=@google_api_key%>&q=<%=restaurant.name%> <%=restaurant.address.gsub(',', '')%>"
            allowfullscreen>
    </iframe>
  </div>
  <div class= "w-full mt-4">
    <ul>
    <li class= "mb-2">
      <span class="text-md font-bold">地址: </span><span><%=restaurant.address.gsub(',', '')%></span>
    </li>
    <li class= "mb-2">
      <span class="text-md mt-3 font-bold">電話:</span> <span><%=restaurant.tel%></span>   
    </li>
    <li>
      <%= link_to "網址連結", restaurant.website, class:'text-md mt-3 font-bold'%> 
    </li>
    </ul>      
  </div>
</div>