<div data-controller="filter">
  <div class="flex justify-around w-full lg:hidden">
    <div class="flex-grow py-2 text-xl text-center border cursor-pointer"
      data-action="click->filter#toggleFilterMenu">篩選</div>
  </div>
  <div class="bg-white">
    <section class="container m-auto flex py-5 min-h-[calc(100vh_-_145px)] w-11/12">
      <section data-filter-target="filterMenu"
         class="absolute top-0 left-0 hidden w-full px-6 mr-3 bg-white rounded-md shadow-custom gborder-4 border-indigo-200 lg:block lg:sticky lg:w-72 z-10 h-max">
        <div class="lg:hidden flex justify-end pt-6">
          <button data-action="click->filter#toggleFilterMenu"><i class="text-lg fa-solid fa-xmark"></i></button>
        </div>
        <%= form_tag(restaurants_path, {method: :get,class:'border-b py-6'}) do |form| %>
          <h3 class="font-bold">所有篩選類別</h3>
          <div class="border-b py-6  border-gray-400">
            <div class="py-2 cursor-pointer" data-action="click->filter#toggleFilterCategory">
              地區搜尋<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-full px-2">
              <% Restaurant::SECTION_OPTIONS.each do | city |%>
                <li class="py-1">
                  <%= check_box_tag "address[]", city, @address.include?(city) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                  <%=city%>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="border-b py-6  border-gray-400">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              餐廳類型<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-full px-2">
              <% Restaurant::RESTAURANT_TYPE.each do | type |%>
                <li class="py-1">
                  <%= check_box_tag "restaurant_type[]", type, @restaurant_type.include?(type) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                  <%=type%>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="border-b py-6  border-gray-400">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              價位<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-full px-2">
              <% Restaurant::PRICE_RANGE.each do | price_range |%>
                <li class="py-1">
                  <%= check_box_tag "price_range[]", price_range, @price_range.include?(price_range) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                  <%=price_range%>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="border-b py-6  border-gray-400">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              菜系<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-full px-2">
              <% Restaurant::CUISINE_OPTIONS.each do | cuisine_type |%>
                <li class="py-1">
                  <%= check_box_tag "cuisine_types[]", cuisine_type, @cuisine_types.include?(cuisine_type) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                  <%=cuisine_type%>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="py-6">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              氣氛<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-full px-2">
              <% Restaurant::ATMOSTPHERE.each do | atmostphere |%>
                <li class="py-1">
                  <%= check_box_tag "atmostphere[]", atmostphere, @atmostphere.include?(atmostphere) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                  <%=atmostphere%>
                </li>
              <% end %>
            </ul>
          </div>
          <%= submit_tag "篩選", {class:'lg:hidden w-full px-4 py-2 ml-2 text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 cursor-pointer border border-transparent rounded-full ', data:{filter_target:"filterSubmitBtn"}} %>
        <% end %>
      </section>
      <section class="flex-grow w-3/5">
        <div class='flex flex-wrap justify-between'>
          <h1 class='text-4xl font-bold text-center py-2'>餐廳</h1>
          <%= render partial: "keyword"%>
        </div>
        <div class="flex items-center justify-between">
          <div class="py-2 font-bold">
            <% if @restaurants.present? %>
              <% if params[:keyword].present?%>
                搜尋<%= params[:keyword]%>結果： <%= @restaurants.count %> / <%= @pagy.count %> 家餐廳
              <% else %>
                <%= @restaurants.count %> / <%= @pagy.count %> 家餐廳
              <% end %>
            <% else %>
              <span class="font-bold">沒有找到符合條件的餐廳</span>
            <% end %>
            <%= render "tag", tags: :address%>
            <%= render "tag", tags: :restaurant_type%>
            <%= render "tag", tags: :price_range%>
            <%= render "tag", tags: :cuisine_types%>
            <%= render "tag", tags: :atmostphere%>
          </div>
        </div>
        <section class="grid grid-cols-1 gap-2 lg:grid-cols-2 xl:grid-cols-3">
          <% @restaurants.each do |restaurant| %>
            <div class="overflow-hidden bg-white rounded-md shadow-lg">
              <div class="relative">
                <%= render "favorite", object:restaurant, size:"text-4xl"%>
                <%= link_to restaurant_path(restaurant) do %>
                  <div class=" text-gray-700 md:h-[15rem] w-full">
                    <% if restaurant.images.present? %>
                      <img class="w-full h-full object-fit" src="<%= restaurant.images.first.url %>" alt="Restaurant Pic">
                    <% elsif restaurant.scraped_photos.present? %>
                      <img class="w-full h-full object-fit" src="<%= restaurant.scraped_photos.first %>" alt="Restaurant Pic">
                    <% else %>
                      <%= image_tag "https://fakeimg.pl/350x200/?text=TourMind" , class:'object-cover w-full h-full' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="flex-grow p-2 m-2">
                <div class= "flex items-start justify-between">
                  <h2 class="w-3/5 py-4 text-xl font-medium">
                    <%= link_to restaurant.name, restaurant_path(restaurant)  %>
                  </h2>
                  <%= link_to restaurants_path(restaurant_type: [restaurant.restaurant_type]) do %>
                    <span class="inline-block px-3 py-1 mt-4 font-semibold text-center text-gray-700 bg-gray-200 rounded-full text-md">
                      <%= restaurant.restaurant_type%>
                    </span>
                  <% end %>
                </div>
                <ul>
                  <li><%= star_rating(@restaurant_data[restaurant.id][:average_rating]) %>
                    <%= sprintf('%.1f', @restaurant_data[restaurant.id][:average_rating]) %>
                    (<%= @restaurant_data[restaurant.id][:comment_count] %>則評論)
                  </li>
                  <li class= "mt-2"><%= restaurant.intro&.truncate(70)%>
                  </li>
                </ul>
                <div class="flex mt-2">
                  <ul class="flex flex-wrap mt-2">
                    <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                      均消:<%= restaurant.price.to_i %>
                    </li>
                  </ul>
                </div>
                <div class="mt-2">
                  <% if restaurant.cuisine_types.present? || restaurant.atmostphere.present?%>
                    <ul class="flex flex-wrap mt-2">
                      <% if restaurant.cuisine_types.present? %>
                        <% restaurant.cuisine_types.each do |cuisine_type| %>
                          <%= link_to restaurants_path(cuisine_types: [cuisine_type]) do %>
                            <li
                                class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                              <%= cuisine_type %>
                            </li>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if restaurant.atmostphere.present? %>
                        <% restaurant.atmostphere.each do |atmostphere| %>
                          <%= link_to restaurants_path(atmostphere: [atmostphere]) do %>
                            <li
                                class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                              <%= atmostphere %>
                            </li>
                          <% end %>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </section>
        <% if @restaurants.count >= 6 || @pagy.page > 1%>
          <div class="flex justify-center mt-4"><%= raw pagy_nav(@pagy) %></div>
        <% end %>
      </section>
    </section>
  </div>
</div>
