<div class="container m-auto pb-4">
  <div class="mx-auto">
    <Section class = "p-3">
      <%= render "heading", restaurant:@restaurant%>
    </Section>

    <section class = "justify-center flex px-4 grid grid-cols-3 gap-4 overflow-hidden" >
      <div class = "col-span-2 relative" data-controller="moving">
        <button data-action="click->moving#prevSlide" class="ml-2 absolute left-0 w-6 h-6 transform -translate-y-1/2 bg-gray-200 rounded-full top-1/2"><</button>
        <% if @restaurant.images.present? %>
          <% @restaurant.images.each_with_index do |image, index| %>
            <%= image_tag image.url, {class: "h-[40rem] w-full object-fill", data: {moving_target: "slides"}}%>
          <% end %>
        <% else %>
          <%= image_tag "https://fakeimg.pl/300x200", {class: "h-full w-full object-fill"}%>
        <% end %>
        <%= render "favorite", object:@restaurant, size:'text-6xl'%>
        <button data-action="click->moving#nextSlide" class="mr-2 absolute right-0 w-6 h-6 transform -translate-y-1/2 bg-gray-200 rounded-full top-1/2">></button>
      </div>
      <%= render "location", restaurant:@restaurant%>
    </section>

    <section class="min-w-full grid grid-cols-3 gap-4 flex my-5 px-4">
      <div class="space-y-4 overflow-y-auto h-20 ">
        <div id="comment-list">
          <%= render partial: "comment", collection: @restaurant.comments %>
        </div>
        <hr class='h-px my-8 bg-gray-200'>
      </div>
      <div class="border p-4 bg-white col-span-1">
        <div>

      </div>
    </section>
    <%= link_to '編輯餐廳資訊', edit_restaurant_path(@restaurant), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to '返回餐廳列表', restaurants_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  
<div data-controller="butt">
  <a data-action="click->butt#toggleCommentForm" class="mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" href="#comment-form">
    發表評論
  </a>
  <div class="hidden" data-butt-target="form" >
    <%= render "comments/comment", comment: Comment.new, restaurant: @restaurant %>
  </div>
</div>

</div>







