<section>
  <div class="flex m-2 space-x-2 p-10">
    <div class="w-1/3 ">
      <div class="bg-white rounded-md shadow-md bg-blue-100 p-2">
        <h2 class="text-xl  font-semibold mb-2"><%= link_to '住宿', '#' %>
        </h2>
      </div>
    </div>
    <div class="w-1/3">
      <div class="bg-white rounded-md shadow-md bg-blue-100 p-2">
        <h2 class="text-xl font-semibold mb-2"><%= link_to '景點', '#' %>
        </h2>
      </div>
    </div>
    <div class="w-1/3">
      <div class="bg-white rounded-md shadow-md bg-blue-100 p-2">
        <h2 class="text-xl font-semibold mb-2">餐廳</h2>
      </div>
    </div>
  </div>
</section>
<div data-controller="filter">
  <div class="w-full flex justify-around lg:hidden">
    <div class="border flex-grow text-center py-2 font-medium text-sm cursor-pointer"
      data-action="click->filter#toggleFilterMenu">篩選</div>
  </div>
  <div class="bg-white">
    <section class="container m-auto flex py-5 min-h-[calc(100vh_-_145px)]">
      <section data-filter-target="filterMenu"
        class="hidden lg:block absolute left-0 top-0 lg:static lg:w-72 w-full h-max bg-white px-6 mr-3 bd shadow-lg rounded-md" style="z-index: 1">
        <div class="lg:hidden flex justify-end pt-6">
          <button data-action="click->filter#toggleFilterMenu"><i class="text-lg fa-solid fa-xmark"></i></button>
        </div>
        <%= form_tag(hotels_path, {method: :get,class:'border-b py-6'}) do |form| %>
          <div class="border-b py-6">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              地區搜尋<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-96 px-2">
              <% @city_options.each do | city |%>
                <li class="py-1">
                  <%= check_box_tag "address[]", city, @address.include?(city) , {class: "mr-2", data:{filter_target:"filterCheckbox"}} %>
                  <%=city%>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="border-b py-6">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              住宿類型<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-96 px-2">
              <% @hotel_types_options.each do | hotel_types |%>
                <li class="py-1">
                  <%= check_box_tag "hotel_types[]", hotel_types, @hotel_types.include?(hotel_types) , {class: "mr-2", data:{filter_target:"filterCheckbox"}} %>
                  <%=hotel_types%>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="py-6">
            <div class="py-2" data-action="click->filter#toggleFilterCategory">
              設備<i class="px-1 fa-solid fa-chevron-down"></i>
            </div>
            <ul class="flex flex-col overflow-hidden max-h-0 max-h-96 px-2">
              <% @equipment_options.each do | equipment |%>
                <li class="py-1">
                  <%= check_box_tag "equipment[]", equipment, @equipment.include?(equipment) , {class: "mr-2", data:{filter_target:"filterCheckbox"}} %>
                  <%=equipment%>
                </li>
              <% end %>
            </ul>
          </div>
          <%= submit_tag "submit", {class:'hidden', data:{filter_target:"filterSubmitBtn"}} %>
        <% end %>
      </section>
      <section class="flex-grow w-3/5">
        <div class='flex justify-between'>
          <h1 class='text-center text-4xl font-bold'>住宿</h1>
          <%= link_to '新增住宿' , new_hotel_path(@hotel), class:'rounded-lg py-3 px-3 bg-blue-500 inline-block text-white
          font-medium'%>
        </div>
        <div class="flex justify-between items-center">
          <div class="py-2">
            <% if @hotels.present? %>
              <%= @hotels.total_count %> 家住宿
            <% end %>
          </div>
          <form class="flex justify-center py-1">
            <div class="border-2 rounded-full flex items-center  border-gray-700 bg-gray-100">
              <input type="text" name="keyword" value="<%= params[:keyword]%>" placeholder="請輸入名稱/地址/類型..."
                class="mx-1 border-0 bg-transparent focus:ring-transparent h-1">
              <button type="submit" class="btn-add"><i class="fas fa-search w-3 mr-2"></i></button>
            </div>
          </form>
        </div>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-2"><% @hotels.each do |hotel| %>
            <div class="bg-white rounded-md overflow-hidden shadow-lg">
              <div class="relative">
                <%= render 'favorite', object: hotel, size:'text-4xl'%>
                <%= link_to hotel_path(hotel) do %>
                  <div class=" text-gray-700 md:h-[15rem] w-full">
                    <% if hotel.images.present? %>
                      <img class="object-cover w-full h-full" src="<%= hotel.images.first.url %>" alt="Hotel Pic">
                    <% elsif hotel.image.url.present? %>
                      <img class="object-cover w-full h-full" src="<%= hotel.image.url %>" alt="Hotel Pic">
                    <% else %>
                      <%= image_tag "https://fakeimg.pl/350x200/?text=TourMind" , class:'object-cover w-full h-full' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="flex-grow p-2 m-2">
                <div class="flex justify-between items-center">
                  <h2 class="text-xl font-medium py-4">
                    <%= hotel.name %>
                  </h2>
                  <ul class="flex flex-wrap mt-2">
                    <li class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                      <%= hotel.hotel_types %>
                    </li>
                  </ul>
                </div>
                <ul>
                  <% if hotel.comments.any? %>
                    <h2 class="font-bold">評分：<%= hotel.comments.average(:rating).to_f.round(1) %></h2>
                    <% hotel.comments.average(:rating).to_i.times do %>
                      <i class="fa-solid fa-star text-yellow-300 fa-lg"></i>
                    <% end %>
                  <% else %>
                    <p>尚未有評論</p>
                  <%end%>
                  <li>簡介:<%= hotel.intro&.truncate(30)%>
                  </li>
                </ul>
                <div class="mt-2">
                </div>
                <div class="mt-2">
                  <h2 class="font-medium">飯店設備</h2>
                  <% if hotel.equipment.present? %>
                    <ul class="flex flex-wrap mt-2">
                      <% hotel.equipment.each do |equipment| %>
                        <li
                            class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                          <%= equipment %>
                        </li>
                      <% end %>
                    </ul>
                  <% else %>
                    <p>沒有類型資料</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </section>
        <div>
          <%= paginate @hotels%>
        </div>
      </section>
    </section>
  </div>
</div>
