<div class="container m-auto">
  <h1 class="flex text-4xl font-bold p-4">
    <%= @hotel.name %>
  </h1>
  <div class="flex flex-wrap">
    <div class="flex px-4 items-center">
      <% if @comments_score.present? %>
        <span><%= star_rating(@hotel_data[@hotel.id][:average_rating]) %>
          <%= sprintf('%.1f', @hotel_data[@hotel.id][:average_rating]) %>
          (<%= @hotel_data[@hotel.id][:comment_count] %>則評論)
        </span>
      <% else %>
        <span>尚未有評論</span>
      <% end %>
      <%= render "favoritebtn", object:@hotel, size:'text-lg'%>
    </div>
    <span class="flex items-center text-md font-semibold"><%= @hotel.hotel_types%></span>
  </div>
  <section class="flex justify-center p-4 shadow-md md:w-90%">
    <div class="grid grid-cols-3 grid-rows-2 gap-1 w-full max-h-96 shadow-md rounded-md overflow-hidden relative">
      <% if @hotel.images.present? %>
        <% @hotel.images.each_with_index do |image, index| %>
          <% if index == 0 %>
            <div class="col-span-2 row-span-2">
              <%= image_tag image.url, {class: "w-full h-full object-cover"}%>
            </div>
          <% elsif index < 3 %>
            <div>
              <%= image_tag image.url, {class: "w-full h-full object-cover"}%>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= image_tag src="https://digital.ihg.com/is/image/ihg/kimpton-taipei-6003129789-16x9?", class:'object-cover col-span-full row-span-full w-full h-full' %>
      <% end %>
    </div>
  </section>
  <div class='flex flex-col py-4 lg:flex-row'>
    <div class="w-full lg:w-2/3 mr-4 shadow-md ">
      <div class="p-4">
        <h2 class='text-2xl font-bold'>詳細資料</h2>
        <ul>
          <li class="flex text-lg py-2">
            <span class='font-bold'>星級：</span><%=@hotel.star_rating%>
          </li>
          <li class="flex text-lg py-2">
            <span class='font-bold whitespace-nowrap'>簡介：</span>
            <span><%=@hotel.intro%></span>
          </li>
        </ul>
      </div>
      <div class='p-4'>
        <h2 class="text-2xl font-bold">住宿設備</h2>
        <ul>
          <% Hotel::EQUIPMENT_OPTIONS.each do |option| %>
            <%= link_to hotels_path(equipment: [option]) do %>
              <li class='inline-block py-1 px-2 mr-2 mt-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                <%=option%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="flex flex-col justify-center w-full mr-4 lg:w-1/3">
      <div class='p-4 shadow-md'>
        <h2 class='text-2xl font-bold'>位置和聯絡方式</h2>
        <iframe
          class="w-full h-[15rem] mx-auto" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=<%= "#{@hotel.name} #{@hotel.address}" %>" allowfullscreen>
        </iframe>
        <ul>
          <li class="flex text-lg py-2">
            <span class='font-bold'>地址：</span><%=@hotel.address%>
          </li>
          <li class="flex text-lg py-2">
            <span class='font-bold'>電話：</span><%=@hotel.tel%>
          </li>
          <li class="flex text-lg py-2">
            <%= link_to '網站連結(請點我)' , @hotel.website, target: "_blank", class:'font-bold' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-4 bg-white col-span-5">
    <h2 class="font-bold text-2xl">評等和評論</h2>
    <div class="overflow-y-auto h-40">
      <div id="comment-list">
        <%= render partial: "comment", collection: @hotel.comments %>
      </div>
    </div>
  </div>
  <section class='w-full'>
    <div data-controller="butt">
      <div class="my-2">
        <a data-action="click->butt#toggleCommentForm" class="bg-gray-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-gray-400 border-2 transition-all duration-400" href="#comment-form">
          發表評論
        </a>
        <%= link_to '編輯住宿資訊' , edit_hotel_path(@hotel), class:"bg-blue-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-blue-500 border-2 transition-all duration-400"%>
        <%= link_to '返回上一頁' , :back, class:"bg-blue-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-blue-500 border-2 transition-all duration-400" %>
        <%= link_to "返回住宿列表", dashboard_hotels_path, class:"bg-white inline-block text-blue-500 focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-blue-400 hover:text-white border-2 transition-all duration-400" %>
        <div class="hidden p-4" data-butt-target="form" >
          <%= render "comments/comment", comment: Comment.new, hotel:@hotel %>
        </div>
      </div>
    </section>
  </div>
