<%= turbo_frame_tag "plan_nav" do %>
  <section class="mx-3 my-3">
    <h1 class="mt-8 mb-5 text-3xl font-medium">行程</h1>
    <nav class="flex flex-col sm:flex-row">
      <button class="block px-6 py-4 font-medium text-blue-500 border-b-2 border-blue-500 cursor-default focus:outline-none">
        <%= link_to "概覽","/plan_overview?id=#{@plan.id}", class: "hover:text-blue-500" %>
      </button>
      <% @plan.days.times do |i| %>
        <button class="block px-6 py-4 text-gray-600 cursor-default focus:outline-none">
          <%= link_to "第 #{i + 1} 天","/day_info?id=#{@plan.id}&day=#{i + 1}", class: "hover:text-blue-500" %>
        </button>
      <% end %>
    </nav>
    <div>
      <% if @plan.locations != nil %>
        <div class="grid flex-wrap gap-3 px-8 py-16 bg-white rounded-lg shadow-xl lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
          <% @plan.locations.each_key.with_index do |key, i| %>
            <div class="relative px-4 w-56 min-h-[150px] mx-auto">
              <h4 class="text-xl font-bold text-white py-3 w-full text-center bg-blue-400">第 <%= i + 1 %> 天</h4>
              <div class="absolute h-full border border-dashed border-opacity-20 border-slate-600"></div>
              <% @plan.locations[key].each do |site| %>
                <!-- start::Timeline item -->
                <div class="flex items-center w-full my-6 -ml-1.5">
                  <div class="z-10 w-1/12">
                    <div class="w-3.5 h-3.5 bg-<%= Plan.set_color(site["type"]) %> rounded-full"></div>
                  </div>
                  <div class="w-11/12 ml-2">
                    <p class="text-sm">
                      <%= site["type"] %>
                      <span class="text-<%= Plan.set_color(site["type"]) %> font-bold"><%= site["name"] %></span>
                    </p>
                    <p class="text-xs text-gray-500">停留時間：<%= site["stay_time"] %> mins</p>
                  </div>
                </div>
                <!-- end::Timeline item -->
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
