<main class="relative bg-slate-100" data-controller="edit">
  <div class="container w-full sm:px-10 flex mx-auto">
    <div class="fixed h-screen -translate-x-56 w-56 top-0 left-0 bg-white transition-all ease-in-out overflow-auto shadow-lg" data-edit-target="drawer">
      <button data-action="click->edit#toggleFav" type="button" class="bg-gray-100 rounded-md p-2 inline-flex text-gray-400 hover:text-gray-500 hover:bg-gray-200 mt-1 ml-1">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <h1 class="text-blue-600 font-bold text-center text-lg my-5">喜愛清單</h1>
      <div class="relative px-4 day w-48" data-controller="sorting" id="fav-list">
        <% if current_user.favorites != nil %>
          <% @favorites.each_with_index do |fav, i| %>
            <!-- start::Timeline item -->
            <div class="site flex items-center w-full my-6 -ml-1.5 bg-white" id="<%= fav[:type] %>-<%= fav[:id] %>">
              <div class="w-1/12 z-10">
                <div class="w-3.5 h-3.5 bg-<%= Plan.set_color(fav[:type]) %> rounded-full"></div>
              </div>
              <div class="w-11/12 ml-2">
                <p class="text-sm">
                  <span><%= fav[:type] %></span>
                  <span class="text-<%= Plan.set_color(fav[:type]) %> font-bold"><%= fav[:name] %></span>
                </p>
                <p class="text-xs text-gray-500">停留時間：<span class="inline-block px-1 border-gray-300 border-2 stay-time" contenteditable="true" onKeypress="if(event.keyCode < 48 || event.keyCode > 57){return false;}"><%= fav[:stay_time] %></span> mins</p>
              </div>
            </div>
            <!-- end::Timeline item -->
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="w-full mt-16" id="top" data-edit-target="id" data-id="<%= @plan.id %>">
      <%= link_to "所有行程", plans_path, class: "text-blue-600"%>
      <!-- component -->
      <div class="flex justify-end py-12 mx-auto">
        <div class="w-full transition-all ease-in-out" data-edit-target="form">
          <%= form_with model: @plan, data: { turbo: "false"}, multipart: true do |form| %>
            <div class="flex justify-between">
              <div>
                <div class="bg-blue-600 inline-block cursor-pointer hover:bg-blue-700 text-white font-normal text-sm p-2 border-blue-700 rounded select-none" data-action="click->edit#addDay">增加天數</div>
                <div class="bg-red-600 inline-block cursor-pointer hover:bg-red-700 text-white font-normal text-sm p-2 border-red-700 rounded select-none"  data-action="click->edit#removeDay">移除天數</div>
                <div class="bg-blue-600 inline-block cursor-pointer hover:bg-blue-700 text-white font-normal text-sm p-2 border-blue-700 rounded select-none"  data-action="click->edit#toggleFav">從喜愛清單加入</div>
                <span class="text-xs text-gray-500 inline-block select-none">(使用滑鼠拖拉來編輯行程)</span>
              </div>
              <div class="inline-flex items-center cursor-pointer p-2 bg-red-600 hover:bg-red-700 text-white text-sm font-normal rounded-md" id="delete-btn" data-controller="sorting">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
                垃圾桶
              </div>
            </div>
            <div class="grid flex-wrap gap-3 px-8 py-16 bg-white rounded-lg shadow-xl lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2" id="plan" data-controller="sorting" data-edit-target="container" data-days="<%= @plan.days || 1 %>" data-action="sorting:change->edit#updateOrder">
              <% if @plan.locations != nil %>
                <% @plan.locations.each_key.with_index do |key, i| %>
                  <div class="relative px-4 day min-h-[150px] bg-white flex flex-col justify-center">
                    <div class="relative bg-blue-400 py-3">
                      <h4 class="mr-5 flex justify-center text-xl text-white font-bold day-title">第 <%= i + 1 %> 天</h4>
                      <button data-action="click->edit#deleteDay" type="button" class="rounded-md p-2 flex text-white hover:text-gray-300 absolute right-0 top-1">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                    <div class="absolute h-full border border-dashed border-slate-600 border-opacity-20 "></div>
                    <div data-controller="sorting" class="h-full w-full sites-list" id="plan-day-<%= i + 1 %>" >
                      <% @plan.locations[key].each.with_index do | site, j | %>
                        <!-- start::Timeline item -->
                        <div class="site flex items-center w-full my-6 -ml-1.5 bg-white" id="day<%= i + 1 %>-<%= j + 1 %>">
                          <div class="w-1/12 z-10">
                            <div class="w-3.5 h-3.5 bg-<%= Plan.set_color(site["type"]) %> rounded-full"></div>
                          </div>
                          <div class="w-11/12 ml-2">
                            <p class="text-sm">
                              <span><%= site["type"] %></span>
                              <span class="text-<%= Plan.set_color(site["type"]) %> font-bold"><%= site["name"] %></span>
                            </p>
                            <p class="text-xs text-gray-500">停留時間：<span class="inline-block px-1 border-gray-300 border-2 stay-time" contenteditable="true" onKeypress="if(event.keyCode < 48 || event.keyCode > 57){return false;}"><%= site["stay_time"] %></span>  mins</p>
                          </div>
                        </div>
                        <!-- end::Timeline item -->
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="relative px-4 day min-h-[150px] bg-white">
                  <div class="flex justify-between items-center">
                    <h4 class="text-xl text-gray-900 font-bold day-title">第 1 天</h4>
                    <button data-action="click->edit#deleteDay" type="button" class="bg-gray-100 rounded-md p-2 flex text-gray-400 hover:text-gray-500 hover:bg-gray-200">
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                  <div class="absolute h-full border border-dashed border-slate-600 border-opacity-20 "></div>
                  <div data-controller="sorting" class="h-full w-full sites-list" id="plan-day-1" ></div>
                </div>
              <% end %>
            </div>
            <div class="mb-5">
              <%= form.label :name, "行程名稱", class: "mb-3 block text-base font-medium text-blue-600" %>
              <%= form.text_field :name, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", data: {edit_target: "name"}%>
            </div>
            <div class="mb-5">
              <%= form.label :description, "行程簡介", class: "mb-3 block text-base font-medium text-blue-600" %>
              <%= form.text_area :description, data: {edit_target: "description"}, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", rows: 5, cols: 50%>
            </div>
            <div class="mb-5">
              <%= form.label :people, "適合人數", class: "mb-3 block text-base font-medium text-blue-600" %>
              <%= form.number_field :people, class: "rounded-md border border-[#e0e0e0] bg-white text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", data: {edit_target: "people"}, min: 1, placeholder: 1%>
            </div>
            <div class="mb-5">
              <%= form.label :category, "行程主題", class: "mb-3 block text-base font-medium text-blue-600" %>
              <%= form.select :category, Plan.category_options, {}, class: "w-min rounded-md border border-[#e0e0e0] bg-white text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", data: {edit_target: "category"}%>
            </div>
            <div class="mb-5">
              <div class='flex flex-row'>
                <%= form.check_box :public, class: "appearance-none h-6 w-6 bg-white rounded-full checked:bg-blue-500 checked:scale-75 transition-all duration-200 peer", data: {edit_target: "public"} %>
                <div class='h-6 w-6 absolute rounded-full pointer-events-none peer-checked:border-blue-300 peer-checked:border-2'>
                </div>
                <%= form.label :public, "與他人分享這行程", class: 'flex flex-col justify-center px-2 peer-checked:text-blue-600 text-rose-600 select-none'%>
              </div>
            </div>
            <div class="mb-5">
              <%= form.label :images, "上傳照片", class: "mb-3 block text-base font-medium text-blue-600" %>
              <%= form.file_field :images, class: "w-min rounded-md border border-[#e0e0e0] bg-white text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", data: {edit_target: "images"}, multiple: true, accept: "image/png,image/gif,image/jpeg" %>
            </div>
            <div data-action="click->edit#update" class="cursor-pointer inline-block mx-auto my-10 shadow bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-5 rounded">
              <div class="flex items-center gap-2" data-edit-target="submitBtn">
                <span class="inline-block" data-edit-target="submitText">更新行程</span>
              </div>
            </div>
            <%= form.hidden_field :lock_version, data: {edit_target: "lockVersion"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
