<div class ="flex">
  <h1 class="font-bold text-4xl"><%=@site.name%></h1>
  <%= render "favoritebtn", object:@site, size:'text-lg'%>
</div>
<div class="flex items-center">
  <span class="mr-2"><%= star_rating(@site_data[@site.id][:average_rating]) %>
    <%= sprintf('%.1f', @site_data[@site.id][:average_rating]) %></span>
  <span class="mr-2">(<%= @site_data[@site.id][:comment_count] %>則評論)</span>
</div>
