<div data-controller="filter">
  <div class="flex justify-around w-full lg:hidden">
    <div class="flex-grow py-2 text-xl font-medium text-center border cursor-pointer"
      data-action="click->filter#toggleFilterMenu">
      篩選
    </div>
  </div>
  <section class="container m-auto flex py-5 min-h-[calc(100vh_-_100px)] w-11/12">
    <section data-filter-target="filterMenu"
      class="absolute top-0 left-0 hidden w-full px-6 mr-3 bg-white rounded-md shadow-custom lg:block lg:sticky lg:w-72 z-10 h-max">
      <div class="flex justify-end pt-6 lg:hidden">
        <button data-action="click->filter#toggleFilterMenu">
          <i class="text-lg fa-solid fa-xmark"></i>
        </button>
      </div>
      <%= form_tag(sites_path, {method: :get,class:'py-6'}) do |form| %>
        <div class="font-bold">所有篩選類別</div>
        <div class="py-6 border-b  border-gray-400">
          <div class="py-2 cursor-pointer" data-action="click->filter#toggleFilterCategory">
            地區搜尋<i class="px-1 fa-solid fa-chevron-down"></i>
          </div>
          <ul class="flex flex-col px-2 overflow-hidden max-h-0 max-h-full">
            <% Site::CITY_OPTIONS.each do | city |%>
              <li class="py-1">
                <%= check_box_tag "address[]", city, @address.include?(city) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                <%=city%>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="py-6 border-b  border-gray-400">
          <div class="py-2 cursor-pointer" data-action="click->filter#toggleFilterCategory">
            景點類型<i class="px-1 fa-solid fa-chevron-down"></i>
          </div>
          <ul class="flex flex-col px-2 mb-2 overflow-hidden max-h-0 max-h-full">
            <% Site::SITE_TYPE_OPTIONS.each do | site_type |%>
              <li class="py-1">
                <%= check_box_tag "site_types[]", site_type, @site_types.include?(site_type) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                <%=site_type%>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="py-6">
          <div class="py-2 cursor-pointer" data-action="click->filter#toggleFilterCategory">
            寵物友善搜尋<i class="px-1 fa-solid fa-chevron-down"></i>
          </div>
          <ul class="flex flex-col px-2 overflow-hidden max-h-0 max-h-full">
            <% Site::PET_FRIENDLY_OPTIONS.each do | pet_friendly |%>
              <li class="py-1">
                <%= check_box_tag "pet_friendly[]", pet_friendly, @pet_friendly.include?(pet_friendly) , {class: "mr-2 checkbox", data:{filter_target:"filterCheckbox"}} %>
                <%=pet_friendly%>
              </li>
            <% end %>
          </ul>
        </div>
        <%= submit_tag "篩選", {class:'lg:hidden w-full px-4 py-2 ml-2 text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 cursor-pointer border border-transparent rounded-full ', data:{filter_target:"filterSubmitBtn"}} %>
      <% end %>
    </section>
    <section class="flex-grow w-3/5">
      <div class='flex flex-wrap justify-between'>
        <h1 class='text-4xl font-bold text-center py-2'>景點</h1>
        <%= render partial: "keyword" %>
      </div>
      <div class="flex justify-between">
        <div class="py-2 font-bold">
          <% if @sites.present? %>
            <% if params[:keyword].present?%>
              搜尋<%= params[:keyword]%>結果： <%= number_per_page(@pagy, @sites) %> 個景點
            <% else %>
              <%= number_per_page(@pagy, @sites) %> 個景點
            <% end %>
          <% else %>
            <span class="font-bold">沒有找到符合條件的景點</span>
          <% end %>
          <%= render "tag", tags: :address%>
          <%= render "tag", tags: :site_types%>
          <%= render "tag", tags: :pet_friendly%>
        </div>
      </div>
      <section class="grid grid-cols-1 gap-2 md:grid-cols-3">
        <% @sites.each do |site| %>
          <div class="overflow-hidden bg-white rounded-md shadow-lg">
            <div class="relative">
              <%= render 'favorite', object: site, size:'text-4xl'%>
              <%= link_to site_path(site) do %>
                <div class=" text-gray-700 md:h-[15rem] w-full">
                  <% if site.images.present? %>
                    <img class="object-cover w-full h-full" src="<%= site.images.first.url %>" alt="Site Pic">
                  <% elsif site.scraped_photos.present? %>
                    <img class="object-cover w-full h-full" src="<%= site.scraped_photos.first %>" alt="Site Pic">
                  <% else %>
                    <%= image_tag  src="https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg" , class:'object-cover w-full h-full' %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="flex-grow p-2 m-2">
              <div class="flex items-center justify-between">
                <h2 class="py-4 text-xl font-medium w-3/5">
                  <%= link_to site.name, site_path(site)  %>
                </h2>
                <% if site.pet_friendly.present? %>
                  <%= link_to sites_path(pet_friendly: [site.pet_friendly]) do %>
                    <span class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                      <%= site.pet_friendly %>
                    </span>
                  <% end %>
                <%end%>
              </div>
              <ul>
                <li><%= star_rating(@site_data[site.id][:average_rating]) %>
                  <%= sprintf('%.1f', @site_data[site.id][:average_rating]) %>
                  (<%= @site_data[site.id][:comment_count] %>則評論)
                </li>
                <li class= "mt-2"><%= site.intro&.truncate(70)%>
                </li>
              </ul>
              <div class="mt-2 ">
                <% if site.site_types.present? %>
                  <h2 class="font-medium">景點類型</h2>
                  <ul class="flex flex-wrap mt-2">
                    <% site.site_types.each do |site_type| %>
                      <%= link_to sites_path(site_types: [site_type]) do %>
                        <li
                              class='inline-block px-3 py-1 mb-2 mr-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                          <%= site_type %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
      <% if @sites.count >= 6 || @pagy.page > 1%>
        <div class="flex justify-center mt-4"><%= raw pagy_nav(@pagy) %></div>
      <% end %>
    </section>
  </section>
</div>
