<div class="container m-auto">
  <h1 class='flex p-4 text-4xl font-bold'>
    <%= @site.name %>
  </h1>
  <div class="flex flex-wrap">
    <div class="flex px-4 items-center">
      <% if @comments_score.present? %>
        <span><%= star_rating(@site_data[@site.id][:average_rating]) %>
          <%= sprintf('%.1f', @site_data[@site.id][:average_rating]) %>
          (<%= @site_data[@site.id][:comment_count] %>則評論)
        </span>
      <% else %>
        <span>尚未有評論</span>
      <% end %>
      <%= render "favoritebtn", object:@site, size:'text-lg'%>
    </div>
  </div>
  <section class='flex justify-center p-4 shadow-md md:w-90%'>
    <div class='grid grid-cols-3 grid-rows-2 gap-1 w-full max-h-96 shadow-md rounded-md overflow-hidden relative'>
      <% if @site.images.present? %>
        <% @site.images.each_with_index do |image, index| %>
          <% if index == 0 %>
            <div class="col-span-2 row-span-2">
              <%= image_tag image.url, {class: "w-full h-full object-cover"}%>
            </div>
          <% elsif index < 3 %>
            <div>
              <%= image_tag image.url, {class: "w-full h-full object-cover"}%>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= image_tag  src="https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class:'object-cover col-span-full row-span-full w-full h-full' %>
      <% end %>
    </div>
  </section>
  <div class='flex py-4 flex-col lg:flex-row'>
    <div class="w-full lg:w-2/3 mr-4 shadow-md">
      <div class='p-4'>
        <h2 class='text-2xl font-bold'>詳細資料</h2>
        <ul>
          <li class="text-lg py-2">
            <span class='font-bold'>建議停留時間：</span><%=@site.stay_duration%> 小時
          </li>
          <li class="flex text-lg py-2">
            <span class='font-bold whitespace-nowrap'>簡介：</span>
            <span><%=@site.intro%></span>
          </li>
        </ul>
      </div>
      <div class='px-4 py-8'>
        <h2 class="text-2xl font-bold">景點類型</h2>
        <% if @site.site_types.present? %>
          <ul class='flex flex-wrap py-2'>
            <% @site.site_types.each do |site_type| %>
              <%= link_to sites_path(site_types: [site_type]) do %>
                <li class='inline-block py-1 px-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
                  <%=site_type%>
                </li>
              <% end %>
            <% end %>
          </ul>
        <%end%>
      </div>
    </div>
    <div class="flex flex-col justify-center w-full lg:w-1/3">
      <div class='p-4 shadow-md'>
        <h2 class='text-2xl font-bold'>位置和聯絡方式</h2>
        <iframe
        class="w-full h-[15rem] mx-auto" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=<%= "#{@site.name} #{@site.address}" %>" allowfullscreen>
        </iframe>
        <ul>
          <li class="text-lg py-2">
            <span class='font-bold'>地址：</span><%=@site.address%>
          </li>
          <%if @site.tel.present? %>
            <li class="text-lg py-2">
              <span class='font-bold'>電話：</span><%=@site.tel%>
            </li>
          <%else%>
            <li class="text-lg py-2">
              <span class='font-bold'>無提供電話</span>
            </li>
          <%end%>
          <li class="text-lg py-2">
            <%= link_to '網站連結(請點我)' , @site.website, target: "_blank", class:' font-bold' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-span-5 px-4 bg-white">
    <h2 class="text-2xl font-bold ">評等和評論</h2>
    <div class="h-40 overflow-y-auto ">
      <div id="comment-list">
        <%= render partial: "comment", collection: @site.comments %>
      </div>
    </div>
  </div>
  <section class='w-full'>
    <div data-controller="butt">
      <div class="m-2">
        <a data-action="click->butt#toggleCommentForm" class="bg-gray-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-gray-400 border-2 transition-all duration-400" href="#comment-form">
          發表評論
        </a>
        <%= link_to '編輯景點資訊' , edit_site_path(@site), class:"bg-blue-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-blue-500 border-2 transition-all duration-400"%>
        <%= link_to '返回景點列表' , sites_path, class:"bg-blue-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-blue-500 border-2 transition-all duration-400" %>
        <div class="hidden p-4" data-butt-target="form" >
          <%= render "comments/comment", comment: Comment.new, site:@site %>
        </div>
      </div>
    </div>
  </section>
</div>
