<div class="container pb-4 m-auto">
  <h1 class='flex p-4 text-2xl font-bold'>
    <%= @site.name %>
  </h1>
  <div class="flex flex-wrap">
    <div class="flex items-center p-4">
      <% if @comments_score.present? %>
        <h2 class="font-bold">評分：<span><%= star_rating(@site_data[@site.id][:average_rating]) %>
                                   <%= sprintf('%.1f', @site_data[@site.id][:average_rating]) %>
                                   (<%= @site_data[@site.id][:comment_count] %>則評論)</span>
      <% else %>
        <p>尚未有評論</p>
      <% end %>
      <%= render "favoritebtn", object:@site, size:'text-lg'%>
    </div>
  </div>
  <section class='flex justify-center pb-4 border-b-2 border-gray-300 md:w-90%'>
    <div class='relative grid w-full grid-cols-3 grid-rows-2 gap-1 overflow-hidden rounded-md shadow-md max-h-96'>
      <% if @site.images.present? %>
        <% @site.images.each_with_index do |image, index| %>
          <% if index == 0 %>
            <div class="col-span-2 row-span-2">
              <%= image_tag image.url, {class: "w-full h-full object-cover"}%>
            </div>
          <% elsif index < 3 %>
            <%# 先暫時移除第2張圖片起,裁切不同圖片大小設定 %>
            <div>
              <%= image_tag image.url, {class: "w-full h-full object-cover"}%>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= image_tag  src="https://tpbusker.gov.taipei/upfiles/place2020122315473.jpg", class:'object-cover col-span-full row-span-full w-full h-full' %>
      <% end %>
    </div>
  </section>
  <div class='flex flex-col py-4 lg:flex-row'>
    <div class="w-full mr-4 lg:w-2/3">
      <div class='px-4 pb-4 border-b-2 border-gray-300'>
        <div class='pb-2 text-2xl font-bold'>詳細資料</div>
        <ul>
          <li>
            <span class='font-bold'>停留時間：</span><%=@site.stay_duration%>
          </li>
          <li class="flex">
            <span class='font-bold whitespace-nowrap'>簡介：</span>
            <span><%=@site.intro%></span>
          </li>
        </ul>
      </div>
      <div class='p-4 border-b-2 border-gray-300'>
        <div class='pb-2 text-2xl font-bold'>位置和聯絡方式</div>
        <ul>
          <li>
            <span class='font-bold'>地址：</span><%=@site.address%>
          </li>
          <li>
            <span class='font-bold'>電話：</span><%=@site.tel%>
          </li>
          <li>
            <%= link_to '網站連結(請點我)' , @site.website, target: "_blank", class:' font-bold' %>
          </li>
        </ul>
      </div>
      <div class='p-4'>
        <div class="pb-2 text-2xl font-bold">景點類型</div>
        <ul class='flex flex-wrap'>
          <% @site.site_types.each do |site_type| %>
            <li class='inline-block px-2 py-1 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full'>
              <%=site_type%>
            </li>
          <% end %>
        </ul>
      </div>
      <div class='p-4'>
        <%= link_to '編輯景點資訊' , edit_site_path(@site), class:'rounded-md py-2 px-5 bg-blue-300 inline-block font-medium'%>
        <%= link_to '返回景點列表' , sites_path, class:'rounded-md py-2 px-5 bg-blue-300 inline-block font-medium' %>
        <%= link_to '刪除景點資訊' , site_path(@site), method: :delete,
          class: 'rounded-md py-2 px-5 bg-gray-200 inline-block font-medium' , data: { confirm: '您確定要刪除景點嗎？' } %>
      </div>
    </div>
    <div class="flex justify-center w-full lg:w-1/3">
      <iframe
        width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=<%= "#{@site.name} #{@site.address}" %>" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="col-span-5 px-4 bg-white">
    <h2 class="text-2xl font-bold ">評等和評論</h2>
    <div class="h-40 overflow-y-auto ">
      <div id="comment-list">
        <%= render partial: "comment", collection: @site.comments %>
      </div>
    </div>
  </div>
  <section class='w-full'>
  <section data-controller="butt">
    <a data-action="click->butt#toggleCommentForm" class="inline-block px-5 py-3 mt-2 font-medium bg-gray-100 rounded-lg" href="#comment-form">
      發表評論
    </a>
    <div class="hidden" data-butt-target="form" >
      <%= render "comments/comment", comment: Comment.new, site:@site %>
    </div>
  </section>
