<!DOCTYPE html>
<html>
  <head>
    <title>TourMind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/chatbase' %>
    <div data-controller="modal">
      <%= render 'shared/navbar' %>
      <%= render 'shared/guide' %>
      <%= render 'shared/modal' %>
    </div>
    <%= yield %>
    <div class='hidden'><%= render 'shared/flash' if flash.any? %></div>
  </body>
  <footer class="bg-[#6C9BCF] w-full h-11 flex justify-center items-center"><span class="inline-block text-white text-sm">©2023 TourMind</span></footer>
</html>
