<!DOCTYPE html>
<html>
  <head>
    <title>TourMind</title>
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png')%>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="content">
    <%= render 'shared/chatbase' %>
    <div data-controller="modal">
      <%= render 'shared/navbar' %>
      <%= render 'shared/guide' %>
      <%= render 'shared/modal' %>
    </div>
    <div class="px-4 sm:px-0">
      <%= yield %>
    </div>
    <div class='hidden'><%= render 'shared/flash' if flash.any? %></div>
    <footer class=" footer">
      <span>©2023 TourMind</span>
    </footer>
  </body>
</html>
